img{
    width: 100%;
    margin-bottom: 20px;
}


.news-main{
    display: grid;
    grid-template-columns: repeat(2,47%);
    justify-content: space-between;
    row-gap: 20px;
}
.news-card{
    padding: 20px;
    border: 2px solid #666;
}
h2{
    margin-bottom: 20px;
}


p{
    color: #333;
    margin-bottom: 20px;

}


.form-search{
    display: grid;
}

.submit-btn{
    margin-bottom: 20px;
    padding: 20px 60px ;
    justify-self: center;
    width: 25%;

}

.query-search{

    width: 90%;
    justify-self: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    font-size: 1.2rem;
    background-color: antiquewhite;
    border: 2px solid black;
}


.main{
    width: 80%;
    margin-inline: auto;
    margin-block: 40px;

}

p{
    margin-bottom: 20px;

}
.read-more{
    width: 80%;
    margin-inline: 40px;
    padding-block: 20px;
    color: black;
    background-color: antiquewhite;
}


.header{
    text-align: center;
}